networks:
    ingress-net:
        internal: true
    egress-net:
        internal: true
    internet:

x-proxy-env: &proxy-env 
    http_proxy: http://egress:3128
    https_proxy: http://egress:3128
    no_proxy: egress,database

services:
    ingress:
        image: mandraketech.internal/ingress
        build:
            context: ./ingress
        ports:
            - name: https
              published: 443
              target: 443
            - name: http
              published: 80
              target: 80
        networks:
            - ingress-net
        depends_on:
            - app
        deploy:
            resources:
                limits:
                    cpus: "0.1"
                    memory: 32m
        volumes:
            - ./ingress/Caddyfile:/etc/caddy/Caddyfile:ro
            - ./secrets/data:/data
            - ./secrets/config:/config
    egress:
        image: mandraketech.internal/egress
        build:
            context: ./egress
        networks:
            - egress-net
            - internet
        volumes:
            - ./egress/squid.conf:/etc/squid/squid.conf:ro
            - ./egress/domain-lists.d:/etc/squid/domain-lists.d:ro
            - ./egress/crl-lists.d:/etc/squid/crl-lists.d:ro
            - ./egress/tester.sh:/usr/local/bin/tester.sh:ro

    app:
        environment:
            <<: *proxy-env
        networks:
            - ingress-net
            - egress-net
