include:
    - docker-compose.base.yml

networks:
    db-net:
        internal: true

x-pgsql-creds: &db-creds
    DB_USER: psqladmin
    DB_PASSWORD: secret
    DB_DATABASE: admin

services:
    database:
        image: postgres:16-alpine
        environment:
            TZ: Asia/Kolkata
            <<: *db-creds
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - db-net
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: 128m
    app:
        image: mandraketech.internal/secure-dev
        build:
            context: .
        environment:
            DB_HOST: database
            DB_PORT: 5432
            <<: [*db-creds, *proxy-env]
        volumes:
            - code_m2:/home/dev/.m2
            - code_vol:/code
            # - ~/.ssh/id_ed25519:/home/dev/host/ssh_key_private:ro
            # - ~/.ssh/id_ed25519.pub:/home/dev/host/ssh_key_public:ro
        networks:
            - db-net
            - ingress-net
            - egress-net
        depends_on:
            - database

volumes:
    db_data:
    code_m2:
    code_vol:
