networks:
    db-net:
        internal: true

x-pgsql-creds: &db-creds
    DB_USER: ${DB_USER:-psqladmin}
    DB_PASSWORD: ${DB_PASSWORD:-secret}
    DB_DATABASE: ${DB_DATABASE:-admin}

services:
    database:
        image: postgres:16-alpine
        environment:
            TZ: ${TZ:-UTC}
            POSTGRES_USER: ${DB_USER:-psqladmin}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-secret}
            POSTGRES_DB: ${DB_DATABASE:-admin}
        volumes:
            - db_data:/var/lib/postgresql/data
        networks:
            - db-net
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: 128m
    app:
        image: mandraketech.internal/app-image
        build:
            context: .
        environment:
            DB_HOST: database
            DB_PORT: 5432
            <<: *db-creds
        volumes:
            - code_m2:/home/dev/.m2
            - code_vol:/code
            # - ~/.ssh/id_ed25519:/home/dev/host/ssh_key_private:ro
            # - ~/.ssh/id_ed25519.pub:/home/dev/host/ssh_key_public:ro
        networks:
            - db-net
        depends_on:
            - database

volumes:
    db_data:
    code_m2:
    code_vol:
