{
    admin off
    skip_install_trust

    log "console_logger" {
        format filter {
            wrap json
            fields {
                request>headers>Authorization delete
                request>headers>Cookie cookie {
                    replace session REDACTED
                    delete secret
                }
                request>remote_ip ip_mask {
                    ipv4 16
                    ipv6 32
                }
            }
        }
        format console
    }
}

www.localhost:8443 {
    tls internal

    log "console_logger"

    # enable prometheus metrics only if needed
    # metrics /metrics

    header {
        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        server "super-secure"

        # clickjacking protection
        X-Frame-Options DENY

        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer

        # XSS Protection
        X-XSS-Protection "1; mode=block"
    }

    handle /healthy {
        respond "Running !!!!" 200
    }

    handle /robots.txt {
        respond 200 {
            body "User-agent: *\nDisallow: /"
        }
    }

    handle /* {
        reverse_proxy app:8080
    }

    handle_errors {
        @404-410 expression `{err.status_code} in [404, 410]`
        handle @404-410 {
            respond "It's a 404 or 410 error!"
        }

        @5xx expression `{err.status_code} >= 500 && {err.status_code} < 600`
        handle @5xx {
            respond "It's a 5xx error."
        }

        handle {
            respond "It's another error"
        }
    }
}
